<a href="https://colab.research.google.com/github/aldodo98/FDD_python-exercise/blob/main/zhiao_TP2_Pandas_SF_Salaries_Exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [ ]:
import pandas as pd
from google.colab import files 
uploaded = files.upload()

Saving Salaries.csv to Salaries.csv

** Read Salaries.csv as a dataframe called sal.**

In [ ]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [ ]:
sal.head()

   Id       EmployeeName  ...         Agency  Status
0   1     NATHANIEL FORD  ...  San Francisco     NaN
1   2       GARY JIMENEZ  ...  San Francisco     NaN
2   3     ALBERT PARDINI  ...  San Francisco     NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5    PATRICK GARDNER  ...  San Francisco     NaN

[5 rows x 13 columns]

** Use the .info() method to find out how many entries there are.**

In [ ]:
sal.count()

Id                  148654
EmployeeName        148654
JobTitle            148654
BasePay             148045
OvertimePay         148650
OtherPay            148650
Benefits            112491
TotalPay            148654
TotalPayBenefits    148654
Year                148654
Notes                    0
Agency              148654
Status                   0
dtype: int64

**What is the average BasePay ?**

In [ ]:
pd.Series.mean(sal['BasePay'])

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [ ]:
pd.Series.max(sal['OvertimePay'])

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
sal['JobTitle'][sal['EmployeeName']=='JOSEPH DRISCOLL']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [ ]:
sal['TotalPayBenefits'][sal['EmployeeName']=='JOSEPH DRISCOLL']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [ ]:
sal[sal['TotalPayBenefits']==pd.Series.max(sal['TotalPayBenefits'])]

   Id    EmployeeName  ...         Agency  Status
0   1  NATHANIEL FORD  ...  San Francisco     NaN

[1 rows x 13 columns]

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
sal[sal['TotalPayBenefits']==pd.Series.min(sal['TotalPayBenefits'])]

            Id EmployeeName  ...         Agency  Status
148653  148654    Joe Lopez  ...  San Francisco     NaN

[1 rows x 13 columns]

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
sal['BasePay'].groupby(sal['Year']).mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [ ]:
sal['JobTitle'].describe()['unique']

2159

** What are the top 5 most common jobs? **

In [ ]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [ ]:
pd.Series.sum(sal['JobTitle'][sal['Year']==2013].value_counts()==1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [ ]:
pd.Series.sum(sal['JobTitle'].str.contains('Chief'))

423

In [ ]:
sal['JobTitle'].str.contains('Chief').count()-sal['JobTitle'].str.contains('Chief').describe()['freq']

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [ ]:
sal['title_len']=sal['JobTitle'].str.len()

In [ ]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000